body {
  background-color: darkslateblue;
  color: white;
  text-align: center;
  font-size: 60px;
}

.box-normale {
  background-color: cornflowerblue;
  color: black;
  display: flex;
  justify-content: center;
}

.box-fizz {
  background-color: aquamarine;
  color: black;
  display: flex;
  justify-content: center;
}

.box-buzz {
  background-color: sandybrown;
  color: black;
  display: flex;
  justify-content: center;
}

.box-fizzbuzz {
  background-color: indianred;
  color: black;
  display: flex;
  justify-content: center;
}