body {
  background-color: darkslateblue;
  color: white;
  text-align: center;
  font-size: 60px;
}

ul {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.box--normale {
  background-color: cornflowerblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50px;
  height: 50px;
}

.box--fizz {
  background-color: aquamarine;
}

.box--buzz {
  background-color: sandybrown;
  font-size: 25px;
}

.box--fizzbuzz {
  background-color: indianred;
  font-size: 20px;
}